* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  overscroll-behavior-y: none;
  background-color: #e3e3e3;
}

/* Background Nav Section */

.loading-bar {
  width: 0%;
  height: 0.8vw;
  background: linear-gradient(
    155deg,
    rgba(113, 116, 122, 1) 0%,
    rgba(129, 184, 0, 1) 100%
  );
  position: fixed;
  z-index: 100000;
  transition: width 0.2s ease-out;
}

.img-bg {
  background-image: url(./cover-photo.jpg);
  height: 45vw;
  background-size: cover;
  overflow: hidden;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: right;
}

#nav-bar img {
  width: 10vw;
  position: relative;
  left: 10vw;
  z-index: 3;
}

.nav-links {
  display: flex;
  width: 100vw;
  justify-content: right;
  align-items: center;
  margin-right: 3vw;
}

.nav-links li {
  list-style: none;
  cursor: pointer;
  margin-right: 2vw;
  letter-spacing: 0.2vw;
  font-weight: 600;
  font-size: 0.85vw;
}

.nav-links li a {
  text-decoration: none;
  color: hsl(220, 4%, 46%);
}

.nav-links li::after {
  content: "";
  width: 0%;
  background-color: hsl(220, 4%, 46%);
  height: 2px;
  transition: 0.25s;
  margin: auto;
  display: block;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-bar-right {
  justify-content: end;
  align-items: center;
}

.container-total {
  height: fit-content;
  width: fit-content;
  color: #fff;
  right: 20vw;
  top: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.container {
  height: fit-content;
  background-color: hsla(0, 0%, 63%, 0.96);
  border-radius: 0.5rem;
  color: #fff;
  display: none;
  position: absolute;
  right: 0;
}

.active {
  height: fit-content;
  background-color: hsla(0, 0%, 63%, 0.96);
  border-radius: 0.5rem;
  color: #fff;
  display: block;
  position: absolute;
  right: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 18vw;
  width: 14vw;
}

.menu li {
  padding: 1.25vw 0;
  height: 100%;
  width: fit-content;
  z-index: 4;
}

.menu a:hover {
  color: hsl(78, 100%, 36%);
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25vw;
  display: flex;
  width: fit-content;
  justify-items: center;
  transition: all 0.5s ease;
}

.menu-icon {
  height: 2.5vw;
  width: 14vw;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.menu-icon i {
  font-size: 2.5vw;
  color: hsl(220, 4%, 46%);
}

.rdv-div {
  display: flex;
  align-items: center;
  margin-right: 2vw;
  justify-content: center;
  position: relative;
  right: 2.5rem;
  background-color: #81b800;
}

.rdv-text {
  text-decoration: none;
  color: #81b800;
  font-weight: 600;
  width: 12vw;
  background-color: hsl(0, 0%, 99%);
  height: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2vw solid hsl(78, 100%, 36%);
  font-size: 0.85vw;
  transition: ease-in 0.2s;
}

.rdv-text:hover {
  background-color: #81b800;
  color: hsl(0, 0%, 99%);
  transform: scale(1.02);
}

.text-image-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 5vw;
  height: 30vw;
}

.title-image {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5vw;
  color: #71747a;
  margin-bottom: 0.5vw;
  line-height: 2vw;
}

.green {
  color: #81b800;
}

.text-image {
  color: hsl(220, 4%, 46%);
  font-size: 0.9vw;
}

/* First Section */

.first-sect {
  background-color: #ededed;
  display: flex;
  height: 55vw;
  align-items: center;
}

.title {
  width: 100vw;
  margin-bottom: 4vw;
  display: flex;
  justify-content: center;
}

.title h2 {
  width: 70vw;
  text-align: left;
  font-weight: 600;
  font-size: 2.2vw;
  line-height: 3.5vw;
  color: rgb(93, 96, 101);
}

.about-total-cont {
  display: flex;
  width: 80vw;
  height: fit-content;
}

.about-us {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us-img-cont {
  width: fit-content;
  height: fit-content;
  display: flex;
  margin-inline: auto;
}

.about-us img {
  padding: 0.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-right: 2rem;
  width: 100%;
  height: 22vw;
  object-position: right;
  object-fit: contain;
  margin-inline: auto;
}

.about-us-text {
  width: 50%;
  height: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-title {
  width: 60%;
  font-weight: 600;
  font-size: 1.2vw;
  line-height: 1.5vw;
  margin-bottom: 1.2vw;
  color: hsl(220, 4%, 46%);
}

.about-p {
  width: 80%;
  font-size: 0.75vw;
  color: hsl(220, 4%, 46%);
}

.about-p span {
  font-weight: 600;
}

.about-p a {
  text-decoration: none;
  color: hsl(78, 100%, 36%);
  pointer-events: none;
}

.empty::before {
  content: "";
  width: 100%;
  height: 1.5vw;
  display: inline-block;
}

.empty {
  display: inline-block;
}

.savoir-plus {
  text-decoration: none;
  color: hsl(78, 100%, 36%);
  font-weight: 500;
  background-color: hsl(0, 0%, 99%);
  width: 10vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15vw solid hsl(78, 100%, 36%);
  font-size: 0.9vw;
  transition: ease-in 0.2s;
  margin-top: 1.2vw;
}

.savoir-plus:hover {
  background-color: hsl(78, 100%, 36%);
  color: hsl(0, 0%, 99%);
  transform: scale(1.02);
}

/* Second Section */

.second-sect {
  background-image: url(./scroll-overlay.jpg);
  height: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
}

.scroll-title {
  text-align: center;
  font-weight: 600;
  line-height: 3rem;
  padding-top: 6rem;
  font-size: 3.8rem;
  margin-bottom: 6rem;
  color: white;
}

.scroll-ul-icon {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin-inline: auto;
}

.scroll-li-icon {
  list-style: none;
}

.scroll-li-icon-img {
  width: 10rem;
}

.scroll-ul-btn {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 85%;
  margin-inline: auto;
  margin-top: 2.3rem;
}

.scroll-li-btn a {
  text-decoration: none;
  color: hsl(78, 100%, 36%);
  font-weight: 600;
  background-color: hsl(0, 0%, 99%);
  width: 10rem;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid hsl(78, 100%, 36%);
  font-size: 1.15rem;
  transition: ease-in 0.2s;
  margin-bottom: 6rem;
}

.scroll-li-btn a:hover {
  background-color: hsl(78, 100%, 36%);
  color: hsl(0, 0%, 99%);
  transform: scale(1.02);
}

/* Third Section */

.third-sect {
  height: 72rem;
  background-color: hsl(0, 0%, 91%);
  display: flex;
  flex-direction: column;
}

.no-map {
  display: flex;
  position: relative;
  align-items: center;
  top: 8rem;
  width: 85%;
  margin-inline: auto;
  margin-bottom: 11.5rem;
  justify-content: center;
}

.third-sect-text {
  width: 36rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #71747a;
  font-size: 1.1rem;
}

.third-sect-title {
  margin-top: 2rem;
  margin-bottom: 1.6rem;
  font-size: 3rem;
  color: hsl(220, 4%, 38%);
}

.collage {
  display: flex;
  justify-content: left;
  width: 25vw;
  height: 26vw;
  padding: 0.5rem;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.collage:hover {
  background-color: #e3e3e3;
  transform: translateY(-0.15em);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.third-sect-p a {
  text-decoration: none;
}

.third-sect-p h4 {
  text-decoration: none;
  color: hsl(78, 100%, 36%);
  font-weight: 600;
  background-color: hsl(0, 0%, 99%);
  width: 16rem;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid hsl(78, 100%, 36%);
  font-size: 1.15rem;
  transition: ease-in 0.2s;
  margin: 2.5rem auto;
}

.third-sect-p h4:hover {
  background-color: hsl(78, 100%, 36%);
  color: hsl(0, 0%, 99%);
  cursor: pointer;
  transform: scale(1.02);
}

.third-sect-p img {
  margin-bottom: 0.1rem;
}

.third-sect-text img {
  width: 3.5rem;
}

.third-sect-p li {
  list-style: none;
}

.map {
  margin-inline: auto;
  width: 85%;
}

/* Fourth Section */

.fourth-sect {
  height: 30rem;
}

.fourth-sect-img {
  background-image: url(./blur.jpg);
  background-position: 0% 25%;
  height: 100%;
  background-size: cover;
}

.fourth-sect-text {
  position: relative;
  top: -77.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.fourth-sect-text a {
  text-decoration: none;
}

.fourth-sect-text h4 {
  text-decoration: none;
  color: hsl(78, 100%, 36%);
  font-weight: 600;
  background-color: hsl(0, 0%, 99%);
  width: 16rem;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid hsl(78, 100%, 36%);
  font-size: 1.15rem;
  transition: ease-in 0.2s;
  margin: 2rem auto 0 auto;
}

.fourth-sect-text h4:hover {
  background-color: hsl(78, 100%, 36%);
  color: hsl(0, 0%, 99%);
  cursor: pointer;
  transform: scale(1.02);
}

.fourth-sect-title {
  font-weight: 600;
  font-size: 3.8rem;
  margin-bottom: 2rem;
  line-height: 4.5rem;
}

.fourth-sect-p {
  font-size: 1.25rem;
}

/* Footer */

.footer {
  height: 18rem;
  background-color: hsl(0, 0%, 93%);
  display: flex;
  width: 100vw;
  flex-direction: row;
  padding-inline: 15%;
  justify-content: space-around;
}

.footer h1 {
  color: hsl(220, 4%, 38%);
  padding-top: 4rem;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.footer ul {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.footer a {
  text-decoration: none;
}

.footer li {
  color: hsl(220, 4%, 46%);
  list-style: none;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.4s ease;
  margin-left: 4px;
}

.footer li:hover {
  color: hsl(78, 100%, 36%);
}

#facebook {
  color: hsl(220, 4%, 46%);
}

#facebook:hover {
  transition: 1s ease;
  color: #0968dc;
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (max-width: 3000px) {
  .navbar {
    display: none;
  }
  .container-total {
    display: none;
  }
}

@media screen and (max-width: 1700px) {
  .img-bg {
    height: 50vw;
  }
  .text-image-div {
    height: 35vw;
  }
}

@media screen and (max-width: 1440px) {
  .img-bg {
    height: 55vw;
  }
  #nav-bar img {
    width: 13vw;
  }
  .nav-links li {
    margin-right: 1.5vw;
    letter-spacing: 0.3vw;
    font-size: 1vw;
  }
  .rdv-div {
    margin-right: 1vw;
    right: 2vw;
  }
  .rdv-text {
    width: 14vw;
    height: 3vw;
    font-size: 1vw;
  }
  .text-image-div {
    left: 7vw;
    height: 37vw;
  }
  .title-image {
    font-size: 1.9vw;
    color: #71747a;
    margin-bottom: 1vw;
  }
  .text-image {
    font-size: 1.3vw;
  }
  .scroll-title {
    font-size: 3.1rem;
  }
  .scroll-li-icon-img {
    width: 8.5rem;
  }
  .second-sect {
    height: 35rem;
  }
  .fourth-sect {
    height: 23.5rem;
  }
  .fourth-sect-text h4 {
    font-size: 1rem;
    height: 3.5rem;
    width: 13rem;
  }
  .fourth-sect-title {
    font-size: 3rem;
  }
  .fourth-sect-p {
    font-size: 1.2rem;
  }
  .footer h1 {
    font-size: 1.55rem;
  }
  .logos {
    font-size: 0.75rem;
  }
  .footer li {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

@media screen and (max-width: 1350px) {
  .img-bg {
    height: 65vw;
  }
  #nav-bar img {
    width: 15vw;
  }
  .nav-links li {
    margin-right: 2vw;
    letter-spacing: 0.2vw;
    font-size: 1.2vw;
  }
  .rdv-text {
    width: 17vw;
    height: 3.5vw;
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 1024px) {
  .loading-bar {
    height: 1.25vw;
  }
  .img-bg {
    height: 70vw;
  }
  #nav-bar {
    padding-top: 1vw;
    padding-left: 3.5vw;
  }
  .nav-links {
    margin-right: 3.5vw;
  }
  .nav-links li {
    margin-right: 2vw;
    letter-spacing: 0.3vw;
    font-size: 1.1vw;
  }
  .text-image-div {
    height: 40vw;
  }
  .about-p {
    line-height: 1.1vw;
    font-size: 0.8vw;
  }
  .rdv-div {
    right: 2vw;
  }
  .rdv-text {
    width: 16vw;
    font-size: 1.1vw;
    height: 3.5vw;
  }
  #nav-bar img {
    left: 5%;
    width: 15%;
  }

  .empty::before {
    height: 1.25rem;
  }
  .scroll-title {
    font-size: 3rem;
  }
  .scroll-li-icon-img {
    width: 7rem;
  }
  .second-sect {
    height: 30rem;
  }
  .scroll-li-btn a {
    height: 3rem;
    width: 8.25rem;
    font-size: 1rem;
  }
  .third-sect {
    height: 61rem;
  }
  .no-map {
    top: 7rem;
    width: 75%;
  }
  .third-sect-text {
    font-size: 0.9rem;
    width: 50%;
  }
  .third-sect-title {
    font-size: 2.5rem;
    line-height: 2.6rem;
    margin-top: 0;
  }
  .collage {
    padding: 0.7rem;
  }
  .third-sect-p h4 {
    height: 3rem;
    width: 11rem;
    font-size: 1.1rem;
    margin: 1.5rem auto;
  }
  .third-sect-text img {
    width: 3rem;
  }
  .map {
    width: 80%;
    height: 11rem;
  }
  .third-sect-p p,
  .third-sect-p li {
    font-size: 0.8rem;
  }
  .fourth-sect {
    height: 20rem;
  }
  .fourth-sect-text h4 {
    font-size: 0.9rem;
    height: 3rem;
    width: 11.5rem;
  }
  .fourth-sect-text {
    top: -88%;
  }
  .fourth-sect-title {
    font-size: 2.2rem;
  }
  .fourth-sect-p {
    font-size: 1rem;
  }
  .footer {
    height: 14rem;
  }
  .footer h1 {
    font-size: 1.3rem;
  }
  .logos {
    font-size: 0.65rem;
    margin-top: 0.5rem;
  }
  .footer ul {
    margin-top: 0.5rem;
  }
  .footer li {
    font-size: 0.85rem;
    line-height: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .loading-bar {
    height: 1.75vw;
  }
  .img-bg {
    height: 110vw;
    background-position: -60vw 0;
  }
  #nav-bar {
    padding-top: 2vw;
    padding-left: 4vw;
  }
  .nav-links {
    display: none;
  }
  .nav-bar-right {
    display: flex;
    width: 80vw;
  }
  .container-total {
    display: block;
    align-items: flex-end;
    top: 10.5vw;
  }
  .text-image-div {
    height: 70vw;
  }
  .about-p {
    line-height: 1.1vw;
    font-size: 0.8vw;
  }
  .navbar {
    display: block;
  }
  .rdv-div {
    width: fit-content;
    justify-content: end;
  }
  .rdv-text {
    width: 16vw;
    font-size: 1.1vw;
    height: 3.5vw;
  }
  #nav-bar img {
    left: 5%;
    width: 20%;
  }
  .first-sect {
    height: 110vw;
    justify-content: center;
  }
  .about-us {
    width: 110vw;
  }
  .title h2 {
    text-align: center;
    width: 70%;
    font-size: 2.5vw;
    line-height: 3vw;
  }
  .about-total-cont {
    flex-direction: column;
    height: fit-content;
  }
  .about-us-img-cont {
    margin: 2vw auto;
  }
  .about-us-img-cont img {
    height: 35vw;
  }
  .about-us-text {
    height: fit-content;
    width: 80vw;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .about-title {
    font-size: 2vw;
    margin: 3vw 0;
  }
  .about-p {
    width: 75%;
    font-size: 1.4vw;
    line-height: 2vw;
  }
  .savoir-plus {
    font-size: 1.5vw;
    margin-top: 2vw;
    width: 15vw;
    height: 4vw;
  }
  .empty::before {
    height: 3vw;
  }
  .scroll-title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .scroll-ul-btn {
    margin-top: 1.5rem;
  }
  .scroll-li-icon-img {
    width: 5.5rem;
  }
  .second-sect {
    height: 21rem;
  }
  .scroll-li-btn a {
    height: 2.1rem;
    border-width: 1.5px;
    width: 6.2rem;
    font-size: 0.75rem;
  }
  .third-sect {
    height: 50rem;
  }
  .no-map {
    top: 6rem;
    width: 85%;
    margin-bottom: 8rem;
  }
  .third-sect-text {
    width: 50%;
    margin-right: 0.5rem;
  }
  .third-sect-title {
    font-size: 2rem;
  }
  .collage {
    padding: 0.7rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
  }
  .third-sect-p h4 {
    height: 2.2rem;
    width: 9rem;
    font-size: 0.9rem;
    margin: 1.4rem auto;
    border-width: 1.5px;
  }
  .third-sect-text img {
    width: 2.8rem;
  }
  .map {
    width: 85%;
    height: 10rem;
  }
  .third-sect-p p,
  .third-sect-p li {
    font-size: 0.75rem;
  }
  .fourth-sect {
    height: 18rem;
  }
  .fourth-sect-text h4 {
    font-size: 0.8rem;
    height: 2.5rem;
    width: 11rem;
  }
  .fourth-sect-text {
    top: -88%;
  }
  .fourth-sect-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .fourth-sect-p {
    font-size: 0.8rem;
  }
  .footer {
    height: 14rem;
    padding-inline: 1rem;
  }
  .footer h1 {
    font-size: 1.1rem;
  }
  .logos {
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
  .footer ul {
    margin-top: 0.5rem;
  }
  .footer li {
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
}

@media screen and (max-width: 550px) {
  .rdv-text {
    width: 19vw;
    font-size: 1.4vw;
    height: 3.85vw;
  }
  .img-bg {
    height: 120vw;
    background-position: -70vw 0;
  }
}

@media screen and (max-width: 425px) {
  .loading-bar {
    height: 2.5vw;
  }
  .first-sect {
    justify-content: center;
  }
  .about-us {
    width: 120vw;
  }
  .title h2 {
    text-align: center;
    width: 80%;
    font-size: 3.5vw;
    line-height: 4.5vw;
  }
  .about-us-img-cont {
    margin: 2vw auto 0 auto;
  }
  .about-us-img-cont img {
    height: 42vw;
  }
  .about-us-text {
    height: fit-content;
    width: 80vw;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .about-title {
    font-size: 2.75vw;
    line-height: 3.5vw;
    margin: 2vw 0;
  }
  .about-p {
    width: 70vw;
    font-size: 1.6vw;
    line-height: 2.5vw;
  }
  .savoir-plus {
    font-size: 1.75vw;
    margin-top: 2vw;
    width: 18vw;
    height: 5vw;
    border: solid 0.23vw;
  }
  .empty::before {
    height: 3vw;
  }
  .scroll-title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .scroll-ul-btn {
    margin-top: 1.5rem;
  }
  .scroll-li-icon-img {
    width: 5.5rem;
  }
  .second-sect {
    height: 21rem;
  }
  .scroll-li-btn a {
    height: 2.1rem;
    border-width: 1.5px;
    width: 6.2rem;
    font-size: 0.75rem;
  }
  .third-sect {
    height: 50rem;
  }
  .no-map {
    top: 6rem;
    width: 85%;
    margin-bottom: 8rem;
  }
  .third-sect-text {
    width: 50%;
    margin-right: 0.5rem;
  }
  .third-sect-title {
    font-size: 2rem;
  }
  .collage {
    padding: 0.7rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
  }
  .third-sect-p h4 {
    height: 2.2rem;
    width: 9rem;
    font-size: 0.9rem;
    margin: 1.4rem auto;
    border-width: 1.5px;
  }
  .third-sect-text img {
    width: 2.8rem;
  }
  .map {
    width: 85%;
    height: 10rem;
  }
  .third-sect-p p,
  .third-sect-p li {
    font-size: 0.75rem;
  }
  .fourth-sect {
    height: 18rem;
  }
  .fourth-sect-text h4 {
    font-size: 0.8rem;
    height: 2.5rem;
    width: 11rem;
  }
  .fourth-sect-text {
    top: -88%;
  }
  .fourth-sect-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .fourth-sect-p {
    font-size: 0.8rem;
  }
  .footer {
    height: 14rem;
    padding-inline: 1rem;
  }
  .footer h1 {
    font-size: 1.1rem;
  }
  .logos {
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
  .footer ul {
    margin-top: 0.5rem;
  }
  .footer li {
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .first-sect {
    height: 160vw;
  }
  .title h2 {
    width: 85%;
    font-size: 4vw;
    line-height: 5vw;
  }
  .about-us-img-cont {
    margin: 3vw auto 0 auto;
  }
  .about-us-img-cont img {
    height: 50vw;
  }
  .about-us-text {
    width: 85vw;
  }
  .about-title {
    font-size: 3.25vw;
    line-height: 4vw;
    margin: 4vw 0;
  }
  .about-p {
    width: 75vw;
    font-size: 2vw;
    line-height: 3vw;
  }
  .savoir-plus {
    font-size: 2.2vw;
    margin-top: 3vw;
    width: 20vw;
    height: 6vw;
  }
  .empty::before {
    height: 4.75vw;
  }
}

@media screen and (max-width: 320px) {
  .loading-bar {
    height: 3.2vw;
  }
  .first-sect {
    height: 220vw;
  }
  .title h2 {
    width: 85%;
    font-size: 5vw;
    line-height: 6.5vw;
  }
  .about-us-img-cont {
    margin: 4vw auto 0 auto;
  }
  .about-us-img-cont img {
    height: 60vw;
  }
  .about-us-text {
    width: 85vw;
  }
  .about-title {
    font-size: 4.25vw;
    width: 80vw;
    line-height: 5vw;
    margin: 5vw 0;
  }
  .about-p {
    width: 80vw;
    font-size: 2.75vw;
    line-height: 4vw;
  }
  .savoir-plus {
    font-size: 3vw;
    margin-top: 4vw;
    width: 27vw;
    height: 7vw;
    border: solid 0.4vw;
  }
  .empty::before {
    height: 6vw;
  }
}
